{% extends 'base.html.twig' %}

{% block body %}
<div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary mb-3">
                            <strong class="card-title">GESTION SERVICES </strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Le type de service </th>
                                        <th>Status</th>
                                        <th>email </th>
                                        <th>telephone </th>
                                        <th>Moyen de Transport</th>
                                        
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if (is_granted("ROLE_ADMIN")) %}
                                   {%  for service in services %}
                                     <tr>
                                        <td>{{ service.id }}</td>
                                        <td>{{ service.typeservice.libelle }}</td>
                                        <td>{{ service.users.status }}</td>
                                        <td>{{ service.users.email }}</td>
                                        <td>{{ service.users.telephone }}</td>
                                        <td>{{ service.moyenTransport }}</td>
                                       <td>
                                         <div style="display: inline-block;padding-left:2%"> {{ include('service/_delete_form.html.twig') }} </div> 
                                            <a href="{{ path('service_edit', {'id': service.id}) }}"><i style="font-size:22px ; color:green" class="fa fa-edit"></i>  </a>
                                            <a href="{{ path('service_show', {'id': service.id}) }}"><i style="font-size:22px ; color:green" class="fa fa-info-circle"> </i></a>
                                        </td>
                                    </tr> 

                                   {% endfor   %}
                                {% endif %}
                                
                                {% for service in app.user.services %}
                                    <tr>
                                        <td>{{ service.id }}</td>
                                        <td>{{ service.typeservice.libelle }}</td>
                                        <td>{{ service.users.status }}</td>
                                        <td>{{ service.users.email }}</td>
                                        <td>{{ service.users.telephone }}</td>
                                        <td>{{ service.moyenTransport }}</td>
                                       <td>
                                         <div style="display: inline-block;padding-left:2%"> {{ include('service/_delete_form.html.twig') }} </div> 
                                            <a href="{{ path('service_edit', {'id': service.id}) }}"><i style="font-size:22px ; color:green" class="fa fa-edit"></i>  </a>
                                            <a href="{{ path('service_show', {'id': service.id}) }}"><i style="font-size:22px ; color:green" class="fa fa-info-circle"> </i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
  
                            </table>
                            <a class="btn btn-success btn-sm" href="{{ path('service_new') }}">Creer un nouveau service </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
{% endblock %}
