{% extends 'base.html.twig' %}
{% block body %}

 <div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary mb-3">
                            <strong class="card-title color-white">GESTION DES ENTREPRISES </strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                              
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Titre</th>
                                        <th>Telephone</th>
                                        <th>Email</th>
                                        <th>Adresse</th>
                                        <th>Site</th>
                                        <th>Postal</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for entreprise in app.user.entreprises %}
                                    <tr>
                                        <td>{{ entreprise.id }}</td>
                                        <td>{{ entreprise.titre }}</td>
                                        <td>{{ entreprise.telephone }}</td>
                                        <td>{{ entreprise.email }}</td>
                                        <td>{{ entreprise.adresse }}</td>
                                        <td>{{ entreprise.site }}</td>
                                        <td>{{ entreprise.postal }}</td>
                                        <td>
                                             <div style="display: inline-block;padding-left:2%"> {{ include('entreprise/_delete_form.html.twig') }} </div> 
                                            <a href="{{ path('entreprise_edit', {'id': entreprise.id }) }}"><i style="font-size:22px ; color:green" class="fa fa-edit"></i>  </a>
                                            <a href="{{ path('entreprise_show', {'id': entreprise.id }) }}"><i style="font-size:22px ; color:green" class="fa fa-info-circle"> </i></a>
                                           
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="13">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        <a class="btn btn-success btn-sm" href="{{ path('entreprise_new') }}">Creer une entreprise</a> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div> 
      <a href="{{ path('entreprise_new') }}">Create new</a>
{% endblock %}
