{% extends 'base.html.twig' %}

{% block title %}TarifService index{% endblock %}

{% block body %}
    <h1>TarifService index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif_service in tarif_services %}
            <tr>
                <td>{{ tarif_service.id }}</td>
                <td>{{ tarif_service.prix }}</td>
                <td>
                    <a href="{{ path('tarif_service_show', {'id': tarif_service.id}) }}">show</a>
                    <a href="{{ path('tarif_service_edit', {'id': tarif_service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tarif_service_new') }}">Create new</a>
{% endblock %}
