{% extends 'base.html.twig' %}

{% block title %}TarifVehicule index{% endblock %}

{% block body %}
    <h1>TarifVehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif_vehicule in tarif_vehicules %}
            <tr>
                <td>{{ tarif_vehicule.id }}</td>
                <td>{{ tarif_vehicule.prix }}</td>
                <td>
                    <a href="{{ path('tarif_vehicule_show', {'id': tarif_vehicule.id}) }}">show</a>
                    <a href="{{ path('tarif_vehicule_edit', {'id': tarif_vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tarif_vehicule_new') }}">Create new</a>
{% endblock %}
