{% extends 'base.html.twig' %}

{% block title %}Tarif Vehicule{% endblock %}

{% block body %}
    <h1>TarifVehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarif_vehicule.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ tarif_vehicule.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tarif_vehicule_index') }}">back to list</a>

    <a href="{{ path('tarif_vehicule_edit', {'id': tarif_vehicule.id}) }}">edit</a>

    {{ include('tarif_vehicule/_delete_form.html.twig') }}
{% endblock %}
