{% extends 'base.html.twig' %}

{% block body %}
	<div id="right-panel" class="right-panel">
		<div class="content">
			<div
				class="animated fadeIn">
				<!-- Widgets  -->
				<div class="row">
					<div class="col-md-7">
						<div class="card">
							<div class="">
								<strong class="card-title color-white">GESTION PAYS
								</strong>
							</div>
							<div class="card-body">
								<table class="table table-bordered ">
									<thead>
										<tr>
											<th>Id</th>
											<th>Libelle</th>
											<th>actions</th>
										</tr>
									</thead>
									<tbody>
										{% for pay in pays %}
											<tr>
												<td>{{ pay.id }}</td>
												<td>{{ pay.libelle }}</td>
												<td>
													<div style="display: inline-block;padding-left:2%">
														{{ include('pays/_delete_form.html.twig') }}
													</div>
													<a href="{{ path('pays_edit', {'id': pay.id}) }}">
														<i style="font-size:22px ; color:green" class="fa fa-edit"></i>
													</a>

												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="3">no records found</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<a class="btn btn-success btn-sm" href="{{ path('pays_new') }}">Creer un nouveau pays
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
