{% extends 'base.html.twig' %}

{% block body %}
     <div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-pr">
                            <strong class="card-title">GESTION DES ZONES    </strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered ">
                               <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Libelle</th>
                                            <th>Postale</th>
                                            <th>Ile</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for zone in zones %}
                                        <tr>
                                            <td>{{ zone.id }}</td>
                                            <td>{{ zone.libelle }}</td>
                                            <td>{{ zone.postale }}</td>
                                            <td>{{ zone.ile }}</td>
                                            <td>
                                            <a href="{{ path('zone_edit', {'id': zone.id}) }}"><i style="font-size:22px ; color:green" class="fa fa-edit"></i></a>
                                            <div style="display: inline-block;padding-left:2%"> {{ include('zone/_delete_form.html.twig') }} </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <a class="btn btn-success btn-sm" href="{{ path('zone_new') }}">Creer une nouvelle zone </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>  

  
{% endblock %}
