{% extends 'base.html.twig' %}

{% block body %}
   <div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header card-pr">
                            <strong class="card-title">DESCRIPTION DE L'UTILISATEUR  </strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered ">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ user.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>validation de compte </th>
                                        <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Telephone</th>
                                        <td>{{ user.telephone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>{{ user.status }}</td>
                                    </tr>
                                    <tr>
                                        <th>Numero de siret</th>
                                        <td>{{ user.numeroSiret }}</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>   

   

    <a href="{{ path('users_index') }}">back to list</a>

    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
